{% extends 'base.html' %}

{% block title %}  Home Page  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}
  <h3> Add a student</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form_student.as_p }}

  </form>
  <button class="btn btn-secondary">Add student</button>

</div>

{% endblock %}
