s{% extends 'base.html' %}
{% block title %}  Add department {% endblock %}
{% block content%}
  <div class="my-5 pt-3 pb-5">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-2 d-none d-md-block bg-secondary px-2">
        {% if request.user.userprofile.role == 'admin' %}
        {% include 'admin_app/admin_navbar.html' %}
        {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
          {% include 'accounts/head_navbar.html' %}
        {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == '' %}
          {% include 'accounts/teacher_navbar.html' %}
        {% elif request.user.userprofile.role == 'student' %}
          {% include 'accounts/student_navbar.html' %}
        {% endif %}
      </div>
      <div class="col-md-10 py-5" style="max-width: 40rem; background-color: rgb(40, 109, 109); margin: 0 auto;">
        <!-- <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'admin-dashboard' %}">My homepage</a> -->
        <h3 class="text-center my-3">Add a department</h3>
        <form method="POST">
          {% csrf_token %}
          {{ form_department.as_p }}
          <div class="text-center">
            <button class="btn btn-primary">Add department</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
