# Ignore Python bytecode files
*.pyc

# Ignore Django migration files for all apps
**/migrations/

# Ignore the virtual environment directory
venv-college/

# Ignore Django cache files
__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore specific cache files
XCollege/__pycache__/
accounts/__pycache__/
accounts/__pycache__/apps.cpython-38.pyc
accounts/__pycache__/views.cpython-38.pyc

# Ignore signals.cpython-38.pyc file
accounts/__pycache__/signals.cpython-38.pyc

XCollege/XCollege/__pycache__/custom_middleware.cpython-38.pyc

# Ignore PIL cache files
venv-college/lib/python3.8/site-packages/PIL/__pycache__/BlpImagePlugin.cpython-38.pyc
venv-college/lib/python3.8/site-packages/PIL/__pycache__/BmpImagePlugin.cpython-38.pyc
venv-college/lib/python3.8/site-packages/PIL/__pycache__/BufrStubImagePlugin.cpython-38.pyc




