{% extends 'base.html' %}
{% load static %}
{% block title %}  Teacher Home Page  {% endblock %}
{% block content %}
  <br/><br/>
  <div class="row my-5">
    <div class="col-md-3 d-none d-md-block bg-secondary">
      {% include 'accounts/teacher_navbar.html' %}
    </div>

    <!-- body-->
    <div class="statbox mx-5 pl-5">
      <span class="text-primary">
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
      </span>
      <P> Welcome back, Teacher
        {% if profile.user.first_name %}
          {{ profile.user.first_name|capfirst }}  {{ profile.user.last_name|capfirst }}!
        {% else %}
          {{ profile.user.username|capfirst }}!
        {% endif %}
      </P>
      <div class="card bg-secondary" style="width: 40rem;">
       <div class="row g-0">
        <div class="col-md-4">
          {% if profile.profile_picture %}
              <img src="{{ profile.profile_picture.url }}" class="card-img-top" alt="Profile picture">
            {% else %}
              <img src="{% static 'profile_pictures/default_profile.jpg' %}" class="card-img-top" alt="Default profile picture">
            {% endif %}
        </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center">
            {% if profile.user.first_name %}
              {{ profile.user.first_name|capfirst }}  {{ profile.user.last_name|capfirst }}
            {% else %}
              {{ profile.user.username|capfirst }}
            {% endif %}
          </h5>
          <p class="card-text">
            Username: {{ profile.user.username|capfirst }} <br>
            Role: {{ profile.role|capfirst }} <br>
            Title: {{ profile.title }} <br>
            Faculty member in the department of {{ profile.department }} <br>
            email: {{ profile.user.email }} <br>
            Brief bio: <br> {{ profile.bio }}
          </p>
          <div class="btn-group" role="group" aria-label="Edit and delete buttons">
            <a class="btn btn-primary" href="{% url 'edit-profile' profile_id=profile.pk %}">Edit teacher profile</a>
            <a class="btn btn-primary" href="{% url 'teacher-delete' teacher_id=profile.pk %}">Delete teacher profile</a>
          </div>
        </div>
       </div>
       </div>
      </div>
    </div>
  </div>
{% endblock %}
