{% extends 'base.html' %}
{% load static %}
{% block title %}  Teacher Home Page  {% endblock %}
{% block content %}
  <br/><br/>
  <div class="row my-5">
    <div class="col-md-2 d-none d-md-block bg-secondary">
      <nav class="navbar navbar-expand-lg flex-column my-5 bg-secondary">
        <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse bg-primary p-2" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'admin-dashboard' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'teacher-courses' %}">My courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'department-list' %}">Notify students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'teacher-list' %}">View schedules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'manage-leave-request' %}">Manage leave request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'add-course' %}">Give feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'add-assessment' %}">Add assessment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'assessments' %}"> View assessments </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- body-->
    <div class="statbox mx-5 pl-5">
      <span class="text-primary">
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
      </span>
      <P> Welcome back, Teacher
        {% if profile.user.first_name %}
          {{ profile.user.first_name|capfirst }}  {{ profile.user.last_name|capfirst }}!
        {% else %}
          {{ profile.user.username|capfirst }}!
        {% endif %}
      </P>
      <div class="card bg-secondary" style="width: 40rem;">
       <div class="row g-0">
        <div class="col-md-4">
          {% if profile.profile_picture %}
              <img src="{{ profile.profile_picture.url }}" class="card-img-top" alt="Profile picture">
            {% else %}
              <img src="{% static 'profile_pictures/default_profile.jpg' %}" class="card-img-top" alt="Default profile picture">
            {% endif %}
        </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center">
            {% if profile.user.first_name %}
              {{ profile.user.first_name|capfirst }}  {{ profile.user.last_name|capfirst }}
            {% else %}
              {{ profile.user.username|capfirst }}
            {% endif %}
          </h5>
          <p class="card-text">
            Username: {{ profile.user.username|capfirst }} <br>
            Role: {{ profile.role|capfirst }} <br>
            Title: {{ profile.title }} <br>
            Faculty member in the department of {{ profile.department }} <br>
            email: {{ profile.user.email }} <br>
            Brief bio: <br> {{ profile.bio }}
          </p>
          <div class="btn-group" role="group" aria-label="Edit and delete buttons">
            <a class="btn btn-primary" href="{% url 'teacher-edit' teacher_id=profile.pk %}">Edit a teacher </a>
            <a class="btn btn-primary" href="{% url 'teacher-delete' teacher_id=profile.pk %}">Delete teacher </a>
          </div>
        </div>
       </div>
       </div>
      </div>
    </div>
  </div>
{% endblock %}
