{% extends 'base.html' %}

{% block title %} Add course offering  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}

  <a class="nav-link text-black" href="{% url 'admin-dashboard' %} ">My homepage </a>
  <a class="nav-link text-black" href="{% url 'course-offering-view' %} ">View courses offered </a>

  <h3> Add course offering </h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-secondary">Course offer</button>
  </form>

</div>

{% endblock %}
