{% extends 'base.html' %}
{% block title %} Add course offering  {% endblock %}
{% block content%}
<div class="my-5 pt-3 pb-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    <div class="col-md-3 d-none d-md-block bg-secondary">
      {% if request.user.userprofile.role == 'admin' %}
            {% include 'admin_app/admin_navbar.html' %}
          {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
            {% include 'accounts/head_navbar.html' %}
          {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position is None %}
            {% include 'accounts/teacher_navbar.html' %}
          {% elif request.user.userprofile.role == 'student' %}
            {% include 'accounts/student_navbar.html' %}
          {% endif %}
    </div>
    <div class="col-md-10 py-5 ml-5" style="max-width: 40rem; background-color: rgb(40, 109, 109);">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="{% url 'admin-dashboard' %} ">My homepage </a>
        <a class="btn btn-primary" href="{% url 'course-offering-view' %}">View courses offered</a>
      </div>
      <p class="pt-3 text-center"> H! {{ user.username }} | Head of {{ user.userprofile.department }} </p>
      <h3 class="text-center"> Offer course here </h3>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
          <button class="btn btn-primary">Offer the course</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
