{% extends 'base.html' %}
{% block title %} List of courses in our department {% endblock %}
{% block content %}
  <div class="my-5 pt-3 pb-5">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}

      <div class="row">
        <div class="col-md-3 d-none d-md-block bg-secondary">
          {% if request.user.userprofile.role == 'admin' %}
            {% include 'admin_app/admin_navbar.html' %}
          {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
            {% include 'accounts/head_navbar.html' %}
          {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position is None %}
            {% include 'accounts/teacher_navbar.html' %}
          {% elif request.user.userprofile.role == 'student' %}
            {% include 'accounts/student_navbar.html' %}
          {% endif %}
        </div>
        <div class="col-md-10 py-5 ml-3" style="max-width: 60rem; background-color: rgb(40, 109, 109);">
          <div class="btn-group" role="group" aria-label="department courses">
            <a class="btn btn-primary" href="{% url 'admin-dashboard' %}">My homepage</a>
            <a class="btn btn-primary" href="{% url 'add-course' %}">Add more course</a>
          </div>
          <h3 class="text-center my-3">List of courses in our department</h3>
          <div class="container mb-5">
              <h3>{{ courses.count }} total courses</h3>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course name </th>
                    <th scope="col">Department</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for course in courses %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                      <a class="text-white bg-primary p-1 rounded" href="{% url 'course-detail' course_code=course.course_code %}">{{ course.course_code }}</a>
                    </td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.department }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="List of my department courses">
                        <a class="btn btn-primary" href="{% url 'course-edit' course_code=course.course_code %}">Edit</a>
                        <a class="btn btn-primary" href="{% url 'course-detail' course_code=course.course_code %}">View</a>
                        <a class="btn btn-primary" href="{% url 'course-delete' course_code=course.course_code %}">Delete</a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
