{% extends 'base.html' %}

{% block title %} List of students in our department {% endblock %}

{% block content %}

<div class="container my-5">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      {% endfor %}
    {% endif %}

    <a class="nav-link text-black" href="{% url 'admin-dashboard' %}">My homepage... </a>
    <a class="nav-link text-black" href="{% url 'add-course' %}"> Add more course</a>


    <h3>List of students in our department...</h3>
    <div class="container mb-5">
        <h3>{{ department_students.count }} total students</h3>

        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Student ID</th>
              <th scope="col">Student name </th>
              <th scope="col">Department</th>
              <th scope="col">Action</th>
              <th>Last ac</th>
            </tr>
          </thead>
          <tbody>
            {% for student in department_students %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url 'student-detail' student_id=student.id %}">{{ student.id }}</a></td>
              <td>{{ student.user.username }}</td>
              <td>{{ student.department }}</td>
              <td><a href="{% url 'student-edit' student_id=student.id %}">Edit</a>|<a href="{% url 'student-detail' student_id=student.id %}">View</a>|
                <a href="{% url 'student-delete' student_id=student.id %}">Delete</a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>

</div>

{% endblock %}
