{% extends 'base.html' %}
{% block title %}  Password Change Page  {% endblock %}
{% block content%}
  <div class="container my-5 py-3 bg-secondary" style="max-width: 400px;">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <p>You are logined as <span class="text-success"><strong>{{ user.username|capfirst }}</strong></span></p>
    <h5 class="text-center bg-primary">Change Password Here</h5>
    <div  class="form-group">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
          Change password
        </button>
      </form>
    </div>

  </div>


{% endblock %}



