{% extends 'base.html' %}
{% block title %}  User Edit Form  {% endblock %}
{% block content%}
  <div class="my-5 pt-3 pb-5">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="row">
      <div class="col-md-2 d-none d-md-block bg-secondary px-2">
        {% if request.user.userprofile.role == 'admin' %}
          {% include 'admin_app/admin_navbar.html' %}
        {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
          {% include 'accounts/head_navbar.html' %}
        {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == '' %}
          {% include 'accounts/teacher_navbar.html' %}
        {% elif request.user.userprofile.role == 'student' %}
          {% include 'accounts/student_navbar.html' %}
        {% endif %}
      </div>
      <div class="col-md-10 py-5" style="max-width: 50%; background-color: rgb(40, 109, 109); margin: 0 auto;">
        <p>You are logged in as <span class="text-success"><strong>{{ user.username }}</strong></span></p>
    <h3 class="text-center bg-primary">Edit your profile here!</h3>
    <div class="form-group">
      <form id="editProfileForm" method="POST" enctype="multipart/form-data" action="{% url 'edit-profile' profile_id=profile.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Username:</label>
          <input type="text" class="form-control" id="id_username" name="username" value="{{ form.username.value }}" required>
        </div>
        <div class="form-group">
          <label for="id_email">Email:</label>
          <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}" required>
        </div>
        <div class="form-group">
          <label for="id_first_name">First Name:</label>
          <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ form.first_name.value }}">
        </div>
        <div class="form-group">
          <label for="id_last_name">Last Name:</label>
          <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value }}">
        </div>
        <div class="form-group">
          <label for="id_role">Role:</label>
          <select class="form-control" id="id_role" name="role">
            <option value="">---------</option>
            <option value="admin" {% if form.role.value == 'admin' %} selected {% endif %}>Admin</option>
            <option value="teacher" {% if form.role.value == 'teacher' %} selected {% endif %}>Teacher</option>
            <option value="student" {% if form.role.value == 'student' %} selected {% endif %}>Student</option>
            <option value="staff" {% if form.role.value == 'staff' %} selected {% endif %}>Staff</option>
          </select>
        </div>
        <div class="form-group" id="titlePositionFields" style="display: none;">
          <label for="id_title">Title:</label>
          <select class="form-control" id="id_title" name="title">
            <option value="">Select Title</option>
            <option value="Mr." {% if form.title.value == "Mr." %} selected {% endif %}>Mr.</option>
            <option value="Mrs." {% if form.title.value == 'Mrs' %} selected {% endif %}>Mrs.</option>
            <option value="Dr." {% if form.title.value == 'Dr.' %} selected {% endif %}>Dr.</option>
            <option value="Assistant Professor" {% if form.title.value == 'Assistant Professor' %} selected {% endif %}>Assistant Professor</option>
            <option value="Associate Professor" {% if form.title.value == 'Associate Professor' %} selected {% endif %}>Associate Professor</option>
            <option value="Professor" {% if form.title.value == 'Professor' %} selected {% endif %}>Professor</option>
          </select>
          <label for="id_position">Position:</label>
          <select class="form-control" id="id_position" name="position">
            <option value="">Select Position</option>
            <option value="head" {% if form.position.value == 'head'%} Selected {% endif %}>Head</option>
            <option value="school dean" {% if form.position.value == 'school dean'%} Selected {% endif %}>School Dean</option>
            <option value="chair" {% if form.position.value == 'chair'%} Selected {% endif %}>Chair</option>
            <option value="program coordinator" {% if form.position.value == 'program coordinator'%} Selected {% endif %}>Program Coordinator</option>
            <option value="college dean" {% if form.position.value == 'college dean'%} Selected {% endif %}>College Dean</option>
          </select>
        </div>
        <div class="form-group" id="academicYearSemesterFields" style="display: none;">
          <label for="id_academic_year">Academic Year:</label>
          <select class="form-control" id="id_academic_year" name="academic_year">
            <option value="">Select Academic Year</option>
            <option value="1st" {% if form.academic_year.value == '1st'%} Selected {% endif %}>First</option>
            <option value="2nd" {% if form.academic_year.value == '2nd'%} Selected {% endif %}>Second</option>
            <option value="3rd" {% if form.academic_year.value == '3rd'%} Selected {% endif %}>Third</option>
            <option value="4th" {% if form.academic_year.value == '4th'%} Selected {% endif %}>Fourth</option>
            <option value="5th" {% if form.academic_year.value == '5th'%} Selected {% endif %}>Fifth</option>
          </select>
          <label for="id_semester">Semester:</label>
          <select class="form-control" id="id_semester" name="semester">
            <option value="">Select Semester</option>
            <option value="1st" {% if form.semester.value == '1st' %} Selected {% endif %}>First</option>
            <option value="2nd" {% if form.semester.value == '2nd' %} Selected {% endif %}>Second</option>
            <option value="summer" {% if form.semester.value == 'summer' %} Selected {% endif %}>Summer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="id_bio">Bio:</label>
          <textarea class="form-control" id="id_bio" name="bio" rows="3" placeholder="Enter your bio briefly">{{ form.bio.value }}</textarea>
        </div>
        <div class="form-group">
          <label for="id_department">Department:</label>
          <select class="form-control" id="id_department" name="department">
            <option value="0">Select Department</option>
            {% for department in departments %}
              <option value="{{ department.id }}" {% if profile.department.id == department.id %} selected {% endif %}>{{ department.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="id_profile_picture">Profile Picture:</label>
          <input type="file" class="form-control-file" id="id_profile_picture" name="profile_picture">
        </div>
        <div class="form-group">
          <label>Current Profile Picture:</label>
          <img src="/media/{{ request.user.userprofile.profile_picture }}" alt="Current Profile Picture" class="img-fluid" style="max-height: 100px;">
        </div>
        <button type="submit" class="btn btn-primary">
          Update
        </button>
      </form>
    </div>
      </div>
    </div>
  </div>

  <script>
    // JavaScript to show/hide fields based on selected role
    document.addEventListener('DOMContentLoaded', function() {
      var roleSelect = document.getElementById('id_role');
      var titlePositionFields = document.getElementById('titlePositionFields');
      var academicYearSemesterFields = document.getElementById('academicYearSemesterFields');

      function updateDisplayedFields() {
        var role = roleSelect.value;

        if (role === 'teacher') {
          titlePositionFields.style.display = 'block';
          academicYearSemesterFields.style.display = 'none';
        } else if (role === 'student') {
          titlePositionFields.style.display = 'none';
          academicYearSemesterFields.style.display = 'block';
        } else {
          titlePositionFields.style.display = 'none';
          academicYearSemesterFields.style.display = 'none';
        }
      }

      // Initial update based on the default selected role
      updateDisplayedFields();

      // Update displayed fields when the role selection changes
      roleSelect.addEventListener('change', updateDisplayedFields);
    });
  </script>

{% endblock %}
