{% extends 'base.html' %}

{% block title %}  Login Page  {% endblock %}

{% block content%}

  <div class="container my-5 py-3 bg-secondary" style="max-width: 400px;">
    <div class="text-center mb-4">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}

      <h2>Login Here!</h2>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username" aria-describedby="usernameHelp"  placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>

{% endblock %}
