{% extends 'base.html' %}

{% block title %}  Home Page  {% endblock %}

<!-- {% load static %} -->

{% block content%}
<div class="container my-5">
  <div class="my-2">
  <h2 class="text-start fs-1 fw-bold">B. Sc. Degree in Computer Science</h2>
  <p>This Programme is composed of general education, supportive and computer science courses all selected to meet the current needs of the ICT industry and to ensure academic parity and build up students’ confidence & flexibility.</p>
  <p>The curriculum is designed to prepare students to specialize in a diverse range of areas of computer science with the opportunity to further advance their career in fields such as information science and mathematical science, and to give them the broad   skills   essential   to   all areas related to science and technology.</p>
  <p>Graduates of this programme are expected to be well-regarded to identify the challenges/opportunities of ICT. Thus, they can work in several computer related jobs/positions, particularly as application developers (programmers) and system and network administrators, and serve as graduate and/or research assistants in higher education institutions.</p>
  </div>

  <div class="my-5" >
    <h5 text-start fs-1 fw-bold>Computer Science Compulsory Courses (72 Cr. Hrs.)   </h5>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <p><a href="#">CS211</a></p>
      </div>
      <div class="col-lg-6">
          <p><a href="#"> Information Communication Technology Fundamentals</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">

    <div class="row">
      <div class="col-lg-2">
        <p><a href="#">CS221</a></p>
      </div>
      <div class="col-lg-6">
          <p><a href="#"> Computer Programming I</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">

    <div class="row">
      <div class="col-lg-2">
        <p><a>CS221</a></p>
      </div>
      <div class="col-lg-6">
          <p><a> Computer Programming I</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <i class="fas fa-long-arrow-alt-right text-primary"></i>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">


    <div class="row">
      <div class="col-lg-2">
        <p><a>CS222</a></p>
      </div>
      <div class="col-lg-6">
          <p><a> Computer Programming II</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <i class="fas fa-long-arrow-alt-right text-primary"></i>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">

    <div class="row">
      <div class="col-lg-2">
        <p><a>CS223</a></p>
      </div>
      <div class="col-lg-6">
          <p><a> Widows Programming (Using Visual Studio .NET)</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <i class="fas fa-long-arrow-alt-right text-primary"></i>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">

    <div class="row">
      <div class="col-lg-2">
        <p><a>CS221</a></p>
      </div>
      <div class="col-lg-6">
          <p><a> Computer Programming I</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <i class="fas fa-long-arrow-alt-right text-primary"></i>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">

    <div class="row">
      <div class="col-lg-2">
        <p><a href="#">CS221</a></p>
      </div>
      <div class="col-lg-6">
          <p><a href="#"> Computer Programming I</a></p>
      </div>
      <div class="col-lg-4">
        <p class="lead">
          <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
        </p>
      </div>
    </div>
    <hr class="col-lg-8">


  <div class="my-5" >
    <h5 text-start fs-1 fw-bold>Electives Computer Science Courses (35 Cr. Hr.) </h5>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <p><a href="#">CS498</a></p>
    </div>
    <div class="col-lg-6">
        <p><a href="#"> Advanced Geographic Information Systems and Remote Sensin</a></p>
    </div>
    <div class="col-lg-4">
      <p class="lead">
        <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
      </p>
    </div>
  </div>
  <hr class="col-lg-8">

  <div class="row">
    <div class="col-lg-2">
      <p><a href="#">CS498</a></p>
    </div>
    <div class="col-lg-6">
        <p><a href="#"> Advanced Geographic Information Systems and Remote Sensing</a></p>
    </div>
    <div class="col-lg-4">
      <p class="lead">
        <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
      </p>
    </div>
  </div>
  <hr class="col-lg-8">

  <div class="row">
    <div class="col-lg-2">
      <p><a href="#">CS497</a></p>
    </div>
    <div class="col-lg-6">
        <p><a href="#"> Geographic Information Systems</a></p>
    </div>
    <div class="col-lg-4">
      <p class="lead">
        <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
      </p>
    </div>
  </div>
  <hr class="col-lg-8">

  <div class="row">
    <div class="col-lg-2">
      <p><a href="#">CS495</a></p>
    </div>
    <div class="col-lg-6">
        <p><a href="#"> IT Project Management</a></p>
    </div>
    <div class="col-lg-4">
      <p class="lead">
        <a href="#"><i class="fas fa-long-arrow-alt-right text-primary"></i></a>
      </p>
    </div>
  </div>
  <hr class="col-lg-8">


  </div>


</div>
{% endblock %}
