@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: #999; */
}

.nav-link-btn {
    color: #1719a8;
}


a,
.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    text-decoration: none;
}

a:hover,
.nav-link:hover {
    color: green;
    background-color: #7386D5;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1px;
    font-size: large;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;

    }
    #sidebarCollapse span {
        display: none;
    }
}
