{% extends 'base.html' %}

{% block title %} Student deletion {% endblock %}

{% block content %}

<div class="container my-5">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      {% endfor %}
    {% endif %}

    <a class="nav-link text-black" href="{% url 'admin-dashboard' %}">My homepage </a>
    <a class="nav-link text-black" href="{% url 'student-list' %}"> Student list </a>
    <a class="nav-link text-black" href="{% url 'student-detail' student_id=student.pk %}"> Student detail </a>


    <h3> Delete student </h3>
    <div class="container my-5">
      <h2>Confirm Deletion</h2>
      <p>Are you sure you want to delete "{{ student.user.username }}"?</p>
      <form method="post">
          {% csrf_token %}
          <button type="submit">Delete</button>
      </form>


    </div>

</div>

{% endblock %}
