{% extends 'base.html' %}

{% block title %}  Edit student  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}


  <a class="nav-link text-black" href="{% if user.is_superuser or user.is_staff %}
            {% url 'admin-dashboard' %}
            {% else %}
                {% url 'cs-bsc' %}
            {% endif %}">My homepage
    </a>
    <a href="{% url 'student-list' %}">List of students</a>

  <h3> Edit a student </h3>
  <form method="post">
    {% csrf_token %}
    {{ form_student.as_p }}
    <button type="submit">Save Changes</button>
</form>


</div>

{% endblock %}
