{% extends 'base.html' %}

{% block title %} Details of {{ course.name }} {% endblock %}

{% block content %}

<div class="container my-5">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      {% endfor %}
    {% endif %}

    <a class="nav-link text-black" href="{% if user.is_superuser or user.is_staff %}
            {% url 'admin-dashboard' %}
            {% else %}
                {% url 'cs-bsc' %}
            {% endif %}">My homepage
    </a>
    <a class="nav-link text-black" href="{% url 'course-list' %}"> Add more </a>


    <h3>Course details</h3>
    <div class="container my-5">
        <h3>{{ course.name }} </h3>
        <p> <small>{{ number_of_students_registered }} have already registed</small></p>
        <p><small>Taught by {{ number_of_teachers_registered }}</small> | {{ department.name }} </p>
        <ul>
            {% for student in students_registered %}
                <li>{{ student.user.username }}</li>
            {% endfor %}
        </ul>

        <a href="{% url 'course-delete' course_id=course.pk %}">Delete Course</a>

    </div>

</div>

{% endblock %}
