s{% extends 'base.html' %}

{% block title %}  List of Departments  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}
  <h3> List of departments</h3>
  <a class="nav-link text-black" href="{% if user.is_superuser or user.is_staff %}
          {% url 'admin-dashboard' %}
          {% else %}
            {% url 'cs-bsc' %}
          {% endif %}">My homepage
  </a>
  <a class="nav-link text-black" href="{% url 'add-department' %}"> Add more </a>

  <p>Number of departments = {{ number_of_departments }}</p>
  <p>List of departments</p>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Id</th>
        <th scope="col">name </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for dept in departments %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'department-detail' department_id=dept.pk %}">{{ dept.pk }}</a></td>
        <td>{{ dept.name }}</td>
        <td><a href="{% url 'department-edit' department_id=dept.pk %}">Edit</a>|<a href="{% url 'department-detail' department_id=dept.pk %}">View</a>|
          <a href="{% url 'department-delete' department_id=dept.pk %}">Delete</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}
