s{% extends 'base.html' %}

{% block title %}  List of Departments  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}
  <h3> List of departments</h3>
  <a class="nav-link text-black" href="{% if user.is_superuser or user.is_staff %}
          {% url 'admin-dashboard' %}
          {% else %}
            {% url 'cs-bsc' %}
          {% endif %}">My homepage
  </a>
  <a class="nav-link text-black" href="{% url 'add-department' %}"> Add more </a>

  <p>Number of departments = {{ number_of_departments }}</p>
  <p>List of departments</p>
  <ul>
    {% for dept in departments %}
    <li>
      <a href="#"> {{ dept.name}} </a>
    </li>
  {% endfor %}
  </ul>

</div>

{% endblock %}
