{% extends 'base.html' %}
{% block title %}  Add teacher  {% endblock %}
{% block content%}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}

    <div class="my-5 pt-3 pb-5">
      <div class="row">
        <div class="col-md-2 d-none d-md-block bg-secondary">
          {% include 'admin_app/admin_navbar.html' %}
        </div>
        <div class="col-md-10 py-5 ml-5" style="max-width: 40rem; background-color: rgb(40, 109, 109);">
          <div class="btn-group" role="group" aria-label="Add teacher form">
            <a class="btn btn-primary" href="{% url 'admin-dashboard' %}">My homepage</a>
            <a class="btn btn-primary" href="{% url 'teacher-list' %}">List of teachers</a>
          </div>
          <h3 class="text-center p-5"> Add a teacher</h3>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_teacher.as_p }}
            <div class="text-center">
              <button class="btn btn-primary">Add teacher</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
