{% extends 'base.html' %}
{% block title %}  Add Assessment  {% endblock %}
{% block content%}
  <div class="container my-5 py-5 bg-secondary" style="max-width: 40rem;">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'assessments' %}"> Assessments</a>
    <h3 class="text-center py-3"> Add assessment</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
        <button class="btn btn-primary">Add assessment</button>
      </div>
    </form>
  </div>
{% endblock %}
