{% extends 'base.html' %}
{% block title %}Marks List{% endblock %}
{% block content %}
  <div class="container my-5 py-5 bg-secondary">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <div class="btn-group" role="group" aria-label="Student Marks">
      <a class="btn btn-primary" href="{% url 'admin-dashboard' %}">Homepage</a>
      <a class="btn btn-primary" href="{% url 'course-detail' course_code=course.course_code %}">Course detail</a>
    </div>
    <h3 class="text-center pb-3">Mark List for <strong>{{ course.name }} </strong> course </h3>
    <table class="table table-dark">
     <thead>
      <tr>
        <th> # </th>
        <th>Student Name</th>
          {% for assessment in assessments %}
            <th>{{ assessment.assessment_name }}</th>
          {% endfor %}
        <th> Total marks </th>
        <th>Grade</th>
        <th> Comments </th>
      </tr>
     </thead>
     <tbody>
      {% for data in marks_data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'student-detail' student_id=data.student.pk %}">{{ data.student.user.username }}</a>
        </td>
        {% for assessment in assessments %}
          <td>
            {% for mark in data.marks %}
              {% if mark.assessment == assessment %}
                {{ mark.mark }}
              {% endif %}
            {% endfor %}
          </td>
        {% endfor %}
        <td>{{ data.total_marks }} </td>
        <td>
          <span class="text-warning px-2 py-1 rounded">{{ data.grade }}</span>
        </td>
      </tr>
    {% endfor %}
     </tbody>
    </table>
  </div>
{% endblock %}
