{% extends 'base.html' %}

{% block title %}  Edit teacher  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5 py-3 bg-secondary" style="max-width: 700px;">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}


  <a class="nav-link text-black" href="{% url 'admin-dashboard'%}">My homepage
    </a>
    <a href="{% url 'teacher-detail' teacher_id=teacher.id %}">Teacher detail</a>

  <h3> Edit a teacher </h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_teacher.as_p }}
    <button type="submit">Save Changes</button>
</form>


</div>

{% endblock %}
