{% extends 'base.html' %}
{% block title %}List of teachers {% endblock %}
{% block content %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="my-5 mr-5 pt-3 pb-5">
        <div class="row">
          <div class="col-md-3 d-none d-md-block bg-secondary px-2 mr-2">
            {% if request.user.userprofile.role == 'admin' %}
            {% include 'admin_app/admin_navbar.html' %}
          {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
            {% include 'accounts/head_navbar.html' %}
          {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position is None %}
            {% include 'accounts/teacher_navbar.html' %}
          {% elif request.user.userprofile.role == 'student' %}
            {% include 'accounts/student_navbar.html' %}
          {% endif %}
          </div>
          <div class="col-md-10 py-5" style="background-color: rgb(40, 109, 109); max-width: 70%;">
            <div class="btn-group" role="group" aria-label="Teachers' lis">
              {% if request.user.userprofile == teacher %}
                <a class="btn btn-primary" href="{% url 'add-teacher' %}">Add teacher</a>
              {% endif %}
            </div>
            <h3 class="text-center">List of teachers </h3>
            <div class="my-5">
                <p>{{ number_of_teachers }} total teachers </p>
                <table class="table table-dark table-responsive">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Id</th>
                      <th scope="col"> Username </th>
                      <th scope="col">Role</th>
                      <th scope="col">Bio</th>
                      <th scope="col">Tiltle</th>
                      <th scope="col">Department</th>
                      <th scope="col">Position</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for teacher in teachers %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                          <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'teacher-detail' teacher_id=teacher.pk %}">{{ teacher.pk }}</a>
                        </td>
                        <td>{{ teacher.user.username }}</td>
                        <td>{{ teacher.role }}</td>
                        <td>{{ teacher.bio|truncatechars:50 }}</td>
                        <td> {{ teacher.title }} </td>
                        <td> {{ teacher.department }} </td>
                        <td> {{ teacher.position }} </td>
                        <td>
                          <div class="btn-group" role="group" aria-label="List of teachers actions">
                            {% if request.user.userprofile == teacher %}
                              <a class="btn btn-primary" href="{% url 'teacher-edit' teacher_id=teacher.pk %}">Edit</a>
                            {% endif %}
                            <a class="btn btn-primary" href="{% url 'teacher-detail' teacher_id=teacher.pk %}">View</a>
                            {% if request.user.userprofile == teacher %}
                              <a class="btn btn-primary" href="{% url 'teacher-delete' teacher_id=teacher.pk %}">Delete</a>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
