{% extends 'base.html' %}

{% block title %}  Edit course  {% endblock %}

<!-- {% load static %} -->

{% block content%}

<div class="container my-5">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    {% endfor %}
  {% endif %}


  <a class="nav-link text-black" href="{% url 'admin-dashboard' %}">My homepage </a>
    <a href="{% url 'course-detail' course_id=course.pk %}">Course detail</a>

  <h3> Edit a course</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_course.as_p }}
    <button type="submit">Save Changes</button>
</form>


</div>

{% endblock %}
