{% extends 'base.html' %}

{% block title %} Course deletion {% endblock %}

{% block content %}

<div class="container my-5">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      {% endfor %}
    {% endif %}

    <a class="nav-link text-black" href="{% url 'admin-dashboard' %}">My homepage
    </a>
    <a class="nav-link text-black" href="{% url 'course-list' %}"> Course List </a>
    <a class="nav-link text-black" href="{% url 'course-detail' course_id=course.pk %}"> Course details </a>


    <h3>Course deletion</h3>
    <div class="container my-5">
      <h2>Confirm Deletion</h2>
      <p>Are you sure you want to delete "{{ course.name }}"?</p>
      <form method="post">
          {% csrf_token %}
          <button type="submit">Delete</button>
      </form>


    </div>

</div>

{% endblock %}
