{% extends 'base.html' %}
{% block title %}  Get registered for courses  {% endblock %}
{% block content%}
  <div class="my-5 pt-3 pb-5">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}

      <div class="row">
        <div class="col-md-3 d-none d-md-block bg-secondary">
          {% if request.user.userprofile.role == 'admin' %}
              {% include 'admin_app/admin_navbar.html' %}
            {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
              {% include 'accounts/head_navbar.html' %}
            {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position is None %}
              {% include 'accounts/teacher_navbar.html' %}
            {% elif request.user.userprofile.role == 'student' %}
              {% include 'accounts/student_navbar.html' %}
            {% endif %}
        </div>
        <div class="col-md-10 py-5 ml-5" style="max-width: 65%; background-color: rgb(40, 109, 109);">
          <a class="btn btn-primary text-white" href="{% url 'admin-dashboard' %}">My homepage</a>
          <h2 class="text-center"> Get registered for courses</h2>
          <form method="POST">
            {% csrf_token %}
            {{ form_course_registration.as_p }}
            <button class="btn btn-primary" type="submit">Register courses</button>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
