{% extends 'base.html' %}
{% block title %}  Get registered for courses  {% endblock %}
{% block content%}
  <div class="my-5 pt-3 pb-5">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}

      <div class="row">
        <div class="col-md-2 d-none d-md-block bg-secondary px-2">
          {% if request.user.userprofile.role == 'admin' %}
              {% include 'admin_app/admin_navbar.html' %}
            {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
              {% include 'accounts/head_navbar.html' %}
            {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position is None %}
              {% include 'accounts/teacher_navbar.html' %}
            {% elif request.user.userprofile.role == 'student' %}
              {% include 'accounts/student_navbar.html' %}
            {% endif %}
        </div>
        <div class="col-md-10 py-5" style="max-width: 65%; background-color: rgb(40, 109, 109); margin: 0 auto;">
          <h2 class="text-center"> Get registered for courses</h2>
          {% if number_courses_unregistered == 0 %}
          <div class="alert alert-info" role="alert" style="max-width: 60%;">
            No courses left to register for this semester
          </div>
          {% else %}
          <form method="POST" id="course-registration-form">
            {% csrf_token %}
            {{ form_course_registration.as_p }}
            <button class="btn btn-primary" type="submit">Register courses</button>
          </form>
          {% endif %}

          <p>Courses you have been registered</p>

          <div id="registered-courses-list">
            <ol class="bg-secondary py-2 pl-4" style="max-width: 60%;">
              {% for course in registered_courses %}
              <li>
                {{ course.course_code }} &nbsp; {{ course.name }}
              </li>
              {% endfor %}
            </ol>
          </div>

          {% block extrascripts %}
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('course-registration-form');
                const checkboxes = form.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(function(checkbox) {
                  checkbox.addEventListener('change', function() {
                    const checkedCourses = Array.from(checkboxes)
                      .filter(course => course.checked)
                      .map(course => course.labels[0].innerText.trim());
                    const registeredCoursesList = document.getElementById('registered-courses-list');
                    registeredCoursesList.innerHTML = '';
                    checkedCourses.forEach(function(course) {
                      const courseDiv = document.createElement('div');
                      courseDiv.innerHTML = course;
                      registeredCoursesList.appendChild(courseDiv);
                    });
                  });
                });
              });
            </script>
          {% endblock %}
        </div>
      </div>
  </div>
{% endblock %}
