 <div class="container-fluid mt-5 px-0">
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">XCollege</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p>
              HiLCoE is committed to excellence and continuous improvement. HiLCoE is known for industrious educational quality,
              a student-centered focus, and service beyond the campus.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Departments</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p>
              <a href="#!" class="text-white">Electrical and Computer Engineering</a>
            </p>
            <p>
              <a href="#!" class="text-white">Software Engineering</a>
            </p>
            <p>
              <a href="#!" class="text-white">Computer Science</a>
            </p>
            <p>
              <a href="#!" class="text-white">Information Technology</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p>
              <a href="{% url 'user-register' %}" class="text-white">Create an account</a>
            </p>
            <p>
              <a href="{% url 'admin-dashboard' %}" class="text-white">My homepage</a>
            </p>
            <p>
              <a href="" class="text-white">Pay monthly fee</a>
            </p>
            <p>
              <a href="" class="text-white">Pay for registration</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-home mr-3"></i>4 killo, Arada, Addis Ababa, Et</p>
            <p><i class="fas fa-envelope mr-3"></i>amare@xcollege.edu.et</p>
            <p><i class="fas fa-phone mr-3"></i>0913850328 </p>
            <p><i class="fas fa-print mr-3"></i>Fax</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" href="">Amare Mekonnen </a
        >
    </div>
  </footer>
</div>
