{% extends 'base.html' %}

{% block title %}  Password Change Done Page  {% endblock %}

<!-- {% load static %} -->

{% block content%}

  <div class="container my-5 py-3">

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% endfor %}
    {% endif %}


        <h2>Change Password Done</h2>
        <p>Hi <small>{{ user.username }}</small> ! You password has been successfully changed!</p>


  </div>


{% endblock %}



