{% extends 'base.html' %}
{% block title %} Leave leave request {% endblock %}
{% block content %}
<div class="container my-5 py-3 bg-secondary" style="max-width: 500px;">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    <button class="btn-group bg-primary">
      <a class="btn btn-primary" href="{% url 'admin-dashboard' %}">My homepage</a>
      <a class="btn btn-primary" href="{% url 'manage-leave-request' %}">Manage leave requests</a>
      <a class="btn btn-primary" href="{% url 'leave-request-details' leave_request_id=leave_request.pk %}">Leaver request details</a>
    </button>
    <h3 class="text-center mt-4">Leave/Remove leave request</h3>
    <div class="container my-5">
      <h5>Confirm Deletion</h5>
      <p>Are you sure you want to delete "{{ leave_request.id }}"?</p>
      <form method="post">
          {% csrf_token %}
          <div class="text-center">
            <button class="btn btn-danger" type="submit">Remove</button>
          </div>
      </form>
    </div>
</div>
{% endblock %}
