{% extends 'base.html' %}
{% block title %}  Leave request form  {% endblock %}
{% block content%}
  <div class="container my-5 py-5 bg-secondary" style="max-width: 45rem;">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <div class="btn-group" role="group" aria-label="Leave request form">
      <a class="btn btn-primary" href="{% url 'admin-dashboard' %}">Homepage</a>
      <a class="btn btn-primary" href="{% url 'manage-leave-request' %}">Manage leave request</a>
    </div>
    <h3 class="text-center py-3">Request leave form</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
