{% extends 'base.html' %}
{% block title %}  Manage Leave request {% endblock %}
{% block content%}
  <div class="my-5 mr-5 pt-3 pb-5">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-2 d-none d-md-block bg-secondary px-2">
        {% if request.user.userprofile.role == 'admin' %}
          {% include 'admin_app/admin_navbar.html' %}
        {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == 'head' %}
          {% include 'accounts/head_navbar.html' %}
        {% elif request.user.userprofile.role == 'teacher' and request.user.userprofile.position == '' %}
          {% include 'accounts/teacher_navbar.html' %}
        {% elif request.user.userprofile.role == 'student' %}
          {% include 'accounts/student_navbar.html' %}
        {% endif %}
      </div>
      <div class="col-md-10 py-5" style="background-color: rgb(40, 109, 109); max-width: 80%; margin: 0 auto;">
        <div class="btn-group" role="group" aria-label="Leave request form">
          <a class="btn btn-primary" href="{% url 'leave-request' %}">Request leave</a>
        </div>
        {% if my_leave_requests.count == 0 %}
          <p>You didn't request leave yet!</p>
        {% else %}
          <h5 class="mt-5 mb-3">My leave requests</h5>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Requested by</th>
                <th scope="col">Requested body</th>
                <th scope="col">Reason</th>
                <th scope="col">Start Date </th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Comment</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for leave_request in my_leave_requests %}
                <tr>
                  <td scope="row">{{ forloop.counter }}</td>
                  <td>
                    {% if leave_request.role == 'teacher' %}
                      <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'teacher-detail' teacher_id=requested_by.id %}">{{ requested_by }}</a>
                    {% else %}
                      <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'student-detail' student_id=requested_by.id %}">{{ requested_by }}</a>
                    {% endif %}
                  </td>
                  <td>
                    <a class="text-white bg-primary px-2 py-1 rounded" href="{% url 'teacher-detail' teacher_id=requested_to.id %}">{{ requested_to }}</a>
                  </td>
                  <td>{{ leave_request.reason }}</td>
                  <td>{{ leave_request.start_date }}</td>
                  <td>{{ leave_request.end_date }}</td>
                  <!-- <td>Status: {{ leave_request.is_approved }}</td> -->
                  <td>
                    {% if leave_request.status == 'is_approved' %}
                      <span style="color: rgb(68, 240, 15);">Approved</span>
                    {% elif leave_request.status == 'is_rejected' %}
                      <span style="color: rgb(240, 15, 34);">Rejected</span>
                    {% else %}
                      <span style="color: darkgoldenrod;">Pending </span>
                    {% endif %}
                  </td>
                  <td>{{ leave_request.leave_request_comments }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Edit assessment">
                      {% if leave_request.status == 'pending' %}
                        <a class="btn btn-primary" href="{% url 'edit-leave-request' leave_request_id=leave_request.id %}">Edit</a>
                        <a class="btn btn-primary" href="{% url 'delete-leave-request' leave_request_id=leave_request.id %}">Delete</a>
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {% if requested_to == request.user %}
          <h5 class="mt-4">Manage leave requests</h5>
          {% if pending_leave_requests.count == 0 %}
            <p>No pending leave requests to be managed</p>
          {% else %}
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Requested by</th>
                  {% if request.user.role == 'admin' %}
                    <th scope="col">Requested body</th>
                  {% endif %}
                  <th scope="col">Reason</th>
                  <th scope="col">Start Date </th>
                  <th scope="col">End Date</th>
                  <th scope="col">Approve/Reject</th>
                  <th scope="col">Status</th>
                  <th scope="col">Comments</th>
                </tr>
              </thead>
              <tbody>
                {% for lrequest in pending_leave_requests %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ lrequest.requested_by }}</td>
                    {% if request.user.role == 'admin' %}
                      <td>{{ lrequest.requested_to }}</td>
                    {% endif %}
                    <td>
                      {% if lrequest.reason|length > 10 %}
                        <span id="short_{{ lrequest.id }}">{{ lrequest.reason|slice:":10" }}</span>
                        <span id="full_{{ lrequest.id }}" style="display: none;">{{ lrequest.reason }}</span>
                        <button onclick="toggleContent({{ lrequest.id }})">More</button>
                      {% else %}
                        {{ lrequest.reason }}
                      {% endif %}
                    </td>
                    <td>{{ lrequest.start_date }}</td>
                    <td>{{ lrequest.end_date }}</td>
                    <td>
                      <form method="post" action="{% url 'leave-request-approval' leave_request_id=lrequest.id %}">
                        {% csrf_token %}
                        <!-- <div>
                          <label for="id_is_approved">Is Approved:</label>
                          {{ approval_form.is_approved }}
                        </div>
                        <div>
                          <label for="id_leave_request_comments">Comments:</label>
                          {{ approval_form.leave_request_comments }} -->
                        </div>
                        <button type="submit" class="btn btn-primary">Approve/Reject</button>
                      </form>
                    </td>

                    <td>
                      {% if lrequest.status == 'is_approved' %}
                        <span style="color: rgb(68, 240, 15);">Approved</span>
                      {% elif lrequest.status == 'is_rejected' %}
                        <span style="color: rgb(240, 15, 34);">Rejected</span>
                      {% else %}
                        <span style="color: darkgoldenrod;">Pending</span>
                      {% endif %}
                    </td>
                    <td>{{ lrequest.leave_request_comments }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}
        {% if request.user == requested_to %}
          <button type="button" class="btn btn-secondary" id="toggleButton">Archived</button>
        {% endif %}
        <div class="archived" style="display: none;">
          {% if requested_to == request.user %}
          <h5 class="mt-4">Archived leave requests</h5>
          {% if archived_leave_requests.count == 0 %}
            <p>No archived leave requests to be shown</p>
          {% else %}
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Requested by</th>
                  {% if request.user.userprofile.role == 'admin' %}
                    <th scope="col">Requested body</th>
                  {% endif %}
                  <th scope="col">Reason</th>
                  <th scope="col">Start Date </th>
                  <th scope="col">End Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Comments</th>
                </tr>
              </thead>
              <tbody>
                {% for archived in archived_leave_requests %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ archived.requested_by }}</td>
                    {% if archived.user.userprofile.role == 'admin' %}
                      <td>{{ archived.requested_to }}</td>
                    {% endif %}
                    <td>
                      {% if archived.reason|length > 10 %}
                        <span id="short_{{archived.id }}">{{ archived.reason|slice:":10" }}</span>
                        <span id="full_{{ archived.id }}" style="display: none;">{{ archived.reason }}</span>
                      {% else %}
                        {{ archived.reason }}
                      {% endif %}
                    </td>
                    <td>{{ archived.start_date }}</td>
                    <td>{{ archived.end_date }}</td>
                    <td>
                      {% if archived.status == 'is_approved' %}
                        <span style="color: rgb(68, 240, 15);">Approved</span>
                      {% elif archived.status == 'is_rejected' %}
                        <span style="color: rgb(240, 15, 34);">Rejected</span>
                      {% else %}
                        <span style="color: darkgoldenrod;">Pending</span>
                      {% endif %}
                    </td>
                    <td>{{ archived.leave_request_comments }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}

        </div>
      </div>
    </div>

    <script>
      function toggleContent(id) {
        var shortContent = document.getElementById("short_" + id);
        var fullContent = document.getElementById("full_" + id);
        var button = event.target;

        if (fullContent.style.display === "none") {
          shortContent.style.display = "none";
          fullContent.style.display = "inline";
          button.textContent = "Less";
        } else {
          shortContent.style.display = "inline";
          fullContent.style.display = "none";
          button.textContent = "More";
        }
      }

      document.getElementById('toggleButton').addEventListener('click', function() {
        var archivedDiv = document.querySelector('.archived');
        if (archivedDiv.style.display === 'none') {
          archivedDiv.style.display = 'block';
        } else {
          archivedDiv.style.display = 'none';
        }
      });
    </script>
  </div>
{% endblock %}
